<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Solitaire/src/ca/mcgill/cs/stg/solitaire/gui/Solitaire.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.mcgill.cs.stg.solitaire.gui.Solitaire"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Solitaire"/>
</launchConfiguration>
